body{
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
}

header{
    background: black;
    color:white;
    padding: 00px 15px;
}

header #page-header{
    color: white;
    text-decoration: none;
    width: 49%;
    display: inline-block;
}

header img{
    width: 10%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

header h2{
    font-size: 16px;
}


header #main-navigation{
    width: 49%;
    display: inline-block;
    text-align: right;
}

header #main-navigation ul{
    list-style: none;
    padding: 0%;
}

header #main-navigation ul li{
   display: inline-block;
}

header #main-navigation ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;

 }

 header #main-navigation ul li a:hover{
   color: gold;

}

.hero{
    min-height: 700px;
    text-align: center;
    background-image: url(/img/hero-bg.jpg);
    background-size: cover;
}

.hero-content{
    color: white;
    padding-top: 130px;
    line-height: 1;
}

.hero-content p{
    font-size: 30px;
}

.hero-content p:hover{
    color: hotpink;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    -webkit-transition: cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    -moz-transition: cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    -ms-transition: cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    -o-transition: cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

.hero-title{
    margin: 0;
    font-size: 40px;
    font-style: italic;
}

.hero-title:hover{
    color: gold;
    transition: steps(4) 1s;
    -webkit-transition: steps(4) 1s;
    -moz-transition: steps(4) 1s;
    -ms-transition: steps(4) 1s;
    -o-transition: steps(4) 1s;
}










































footer{
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    background-image: url(img/web_character.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

footer img{
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 80px;
    margin: 0 auto 10px;
}