body{
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
}

header{
    background: black;
    color:white;
    padding: 00px 15px;
}

header #page-header{
    color: white;
    text-decoration: none;
    width: 49%;
    display: inline-block;
}

header img{
    width: 10%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

header h2{
    font-size: 16px;
}


header #main-navigation{
    width: 49%;
    display: inline-block;
    text-align: right;
}

header #main-navigation ul{
    list-style: none;
    padding: 0%;
}

header #main-navigation ul li{
   display: inline-block;
}

header #main-navigation ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;

 }

 header #main-navigation ul li a:hover{
   color: gold;

}

footer{
    background: black;
    color: white;
    padding: 40px;
    text-align: center;
}

footer img{
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 80px;
    margin: 0 auto 10px;
}